.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
*.suo
/.vs/
*.bin
.vs/
*.ipch
*.tlog
*.pdb
*.obj
*.zip

/Test/OSProject/CommonLib/*
/Test/OSProject/Debug/*
/Test/OSProject/.vs/*
/Test/OSProject/SkyOS32/Intermediate/*
*.pptx