.vs/ProjectSettings.json
.vs/VSWorkspaceState.json
*.suo
/.vs/
*.bin
.vs/
*.ipch
*.tlog
*.pdb
*.obj

/Project/CommonLib/*
/Project/Include/*
/Project/MyKernelProject/CommonLib/*
/Project/MyKernelProject/Debug/*
/Project/MyKernelProject/.vs/*
/Project/MyKernelProject/mykernel/Intermediate/*
*.pptx
